<div class="about-section">
    <h1>About Us</h1>
    <p>This is my first Todo App Page</p>
    <p>Find Me on Youtube for learnings @TodoBranch</p>
  </div>
  
  <h2 style="text-align:center;margin-top: 20px">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/logo.png" style="width:100%">
        <div class="container">
          <h2>Atul Arya</h2>
          <p class="title">CEO & Founder</p>
          <p>...</p>
          <p>amber@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/logo.png" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p> lorem ipsum ipsum lorem.</p>
          <p>shiv@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="assets/images/logo.png" style="width:100%">
        <div class="container">
          <h2>John</h2>
          <p class="title">Designer</p>
          <p> lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
