<p class="center"><b>
        <h3>A l l L i s t s</h3>
    </b></p>
<div class="vl">
    <ul *ngFor="let info of this.inputText; let i = index" class="taskItem">
        <li style="list-style-type: none;">
            <div style="display: flex;">
                <img style="width: 22px;height: 20px;margin-right: 5px;" src="assets/images/art-book.png">
                <span style="float: left;">
                    <!-- <a routerLink="/currenttask" [class.isClicked]="taskItem.isClicked"
                        (click)="taskItem.isClicked = true">
                        </a> -->
                        <a routerLink="/currenttask" 
                        (click)="selectGateway(i)" class="Box" [class.selectGateway]="check">
                        <!-- [ngIfElse]="loading" *ngIf="openSubTasks"> -->
                        {{info.task}}
                    </a>
                        <!--*ngIf="ifcondition; else elseBlock"(click)="highlight"--> 
                </span>
            </div>
        </li>
    </ul>
</div>

<!-- can add this in a routing of {{info.task}}
    class="static" *ngClass="test ? 'dynamic-green':'dynamic-red'" 
                        (click)="openSubTasks"
-->