<p class="center"><b><h3>A l l   L i s t s</h3></b></p>
<div class="vl">
    <ul>
        <!-- *ngFor="" -->
        <li *ngFor = "let info of infoReceived1" style="list-style-type: none;">
            <div style="display: flex;"><img style="width: 22px;height: 20px;margin-right: 5px;" src="assets/images/art-book.png"><span style="float: left;">{{info}}</span></div>
        </li>
        
    </ul>         
    <!-- <button type="button" name="button" (click)='getInfoFromService1()'>Add List</button> -->
</div>