<div class="subtasks">
	<p class="center"><b>
			<h3>S U B L i s t s</h3>
		</b></p>
</div>

<div class="container">
	<div class="item-0">
		<div class="vl">
			<ul *ngFor="let Stasks of this.subTasksList">
				<li style="list-style-type: none;">
					<div style="display: flex;">
						<img style="width: 22px;height: 20px;margin-right: 5px;" src="assets/images/art-book.png">
						<span style="float: left;">
							{{Stasks}}
						</span>
					</div>
				</li><br>
			</ul>
		</div>
	</div>
	<div class="item-1">
		<div class="container card">
			<form>
				<div class="input-field">
					<input class="clear" [(ngModel)]="subTask" name="currentForm">
					<label for="name">Todo SubTasks</label>
					<button class="button" type="submit" (click)="subListDataSubmit()">Add SubTasks</button>
				</div>
			</form>
		</div>
	</div>
</div>