<p class="center"><b>
        <h3>A l l L i s t s</h3>
    </b></p>
<div class="vl">
    <ul *ngFor="let info of this.inputText; let i = index" class="taskItem">
        <li style="list-style-type: none;">
            <div style="display: flex;">
                <img style="width: 22px;height: 20px;margin-right: 5px;" src="assets/images/art-book.png">
                <span style="float: left;">
                    <!-- <a routerLink="/currenttask" [class.isClicked]="taskItem.isClicked"
                        (click)="taskItem.isClicked = true">
                        </a> -->
                        <a routerLink="todotasks/currenttask" 
                        (click)="tasksLists(i)">
                        {{info.task}}
                    </a>
                </span>
            </div>
        </li><br>
    </ul>
</div>
