/* .vl {
    border-left: 6px solid green;
    height: 500px;
  } */
  .container {
    display: flex;
    align-content: space-around;
    margin: 20px;

  }
  
  .item-0 {
    align-self: stretch;
    width: 15%;

  }
  
  .item-1 {
    flex-grow: 1;
    align-self: stretch;
  }