.adlist-container {
	display: flex;
	margin: 25px;
	align-items: center;
	justify-content: center;
}

form {
	width: 330px;
	height: 180px;
	padding-top: 30px;
	margin: 64px 20px 0 0;
	border-radius: 10px;
	border: 1px solid black;
}

.input-field {
	width: 250px;
	height: 44px;
	line-height: 44px;
	margin: 0 0 0 40px;
	position: relative;
}

label {
	top: 0;
	left: 0;
	width: 100%;
	cursor: text;
	color: #d3d3d3;
	transition: 0.2s all;
	position: absolute;
}

input {
	width: 100%;
	border: 0;
	outline: 0;
	padding: 0.5rem 0;
	box-shadow: none;
	color: #111;
	border-bottom: 2px solid #d3d3d3;
}

input:invalid {
	outline: 0;
}

input:focus,
input:valid {
	border-color: #00dd22;
}

input:focus~label,
input:valid~label {
	font-size: 14px;
	top: -24px;
	color: #00dd22;
}
