.container {
	display: flex;
	margin: 25px;

}

.item-0 {
	align-self: stretch;
	width:30%;
	height: 100%;
}

.item-1 {
	flex-grow: 1;
	align-self: stretch;
}
form {
	margin: 200px;
  }
  .input-field {
	position: relative;
	width: 250px;
	height: 44px;
	line-height: 44px;
	margin: 0 0 0 40px;

  }
  label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #d3d3d3;
	transition: 0.2s all;
	cursor: text;
  }
  input {
	width: 100%;
	border: 0;
	outline: 0;
	padding: 0.5rem 0;
	border-bottom: 2px solid #d3d3d3;
	box-shadow: none;
	color: #111;
  }
  input:invalid {
	outline: 0;
  }
  input:focus,
  input:valid {
	border-color: #00dd22;
  }
  input:focus~label,
  input:valid~label {
	font-size: 14px;
	top: -24px;
	color: #00dd22;
  }
  .center{
    text-align: center;
}